 .movie-detail {
     width              : 100%;
     position           : relative;
     z-index            : 1;
     border-bottom      : 1px solid var(--primaryColor);
     background-position: right -200px top;
     background-size    : cover;
     background-repeat  : no-repeat;
 }