 .movie-detail {
     width                    : 100%;
     position                 : relative;
     /* z-index               : 1; */
     border-bottom            : 1px solid var(--primaryColor);
     background-position      : right -200px top;
     background-size          : cover;
     background-repeat        : no-repeat;
     /* height                : calc(100vh - 64px); */
     height                   : fit-content;
     margin-top               : 64px;

 }

 .movie-detail--overlay {

     position        : absolute;
     top             : 0;
     right           : 0;
     bottom          : 0;
     left            : 0;
     background-image: linear-gradient(to right, rgb(67, 67, 67) 150px, rgba(31.5, 31.5, 31.5, 0.54) 100%);

 }

 .movie-header {
     z-index: 2;
 }