.footer {
    padding         : 40px 0 60px;
    background-color: #032440;
}

.footer-logo {
    width : 140px;
    height: auto;
}

.footer-heading {
    font-size  : 20px;
    font-weight: 700;
    color      : #fff;
}

.list-group-item {
    background-color: transparent;
    border          : none;
}

.footer-item--link {
    font-size  : 17px;
    font-weight: 400;
    color      : #f1f1f1;
}