.cart-item {
    min-width : 150px;
    height    : auto;
    box-shadow: 0 2px 8px rgb(0 0 0 / 10%);


    background: #dbdbdb;
    overflow  : hidden;

}

.cart-item img {
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
}