.cart-item {
    min-width: 150px;
    height   : auto;



    background: #dbdbdb;
    overflow  : hidden;

}

.cart-item img {
    border-radius        : 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius   : 10px;
    -ms-border-radius    : 10px;
    -o-border-radius     : 10px;
}